body{
  text-align: center;
  padding: 6px 6px;
  margin: 4px;
}

img{
  width:160px;
  text-align: center;
}

button{
  text-align: center;
}

.corousel{
  width:100%;
  height:400px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow{
  margin:20px;
  height:60px;
  width:70px;
}

.about{
  text-align: center;
}

h6{
  background-color: rgba(125, 233, 156, 0.829);
  text-align: center;
}

h5{
  background-color: rgba(106, 217, 236, 0.829);
  text-align: center;
}

.nav-link:hover{
  background-color: rgba(226, 97, 114, 0.829);
}

.card-img-top{
  height:260px;
}

.header{
  background-color: rgba(77, 195, 245, 0.902);
  text-align: center;
}

.footer{
  text-align: center;
  background-color: rgba(20, 20, 20, 0.872);
  color:white;
}
